{% extends "base.html" %}

{% block content %}
    <h1 id="id_game_over"></h1>

    <h2>Opponent</h2>
    {% with board_owner='ai' %}
        {% include 'main/snippets/board.html' %}
    {% endwith %}

    <h2>You</h2>
    {% with board_owner='player' %}
        {% include 'main/snippets/board.html' %}
    {% endwith %}

    <h3>Log</h3>
    <div id="log"></div>
{% endblock content %}

{% block body_extra %}
    <script>
        $(function(){
            var color;
            var player_board = {{ player_board|safe }};
            var ai_board = {{ ai_board|safe }};
            var $log = $('#log');
            var buttons_active = true;

            var colors = {
                0: 'silver',
                1: 'green',
                2: 'white',
                3: 'red',
                4: 'blue'
            };

            var messages = {
                2: 'missed',
                3: 'hit a ship',
                4: 'sunk a ship'
            };

            // populate users' boards

            function populate(board, owner) {
                for(var i = 0; i < board.length; ++i) {
                    for (var j = 0; j < board.length; ++j) {
                        color = colors[parseInt(board[i][j])];
                        $('#id_' + owner + 'field_' + i + '_' + j).css('background-color', color);
                    }
                }
            }

            populate(player_board, 'player');
            populate(ai_board, 'ai');

            // set up the log

            function log_ai(state) { log(state, 'Opponent'); }

            function log_player(state) { log(state, 'You'); }

            function log(state, user) {
                $log.append('<p>' + user + ' ' + messages[state] + '!</p>');
            }

            // perform requested move

            function ai_move(cm) {
                var state = parseInt(cm.state);
                color = colors[state];
                $('#id_playerfield_' + cm.x + '_' + cm.y).css('background-color', color);
                log_ai(state);
            }

            function move(data, button) {
                var i;
                button.css('background-color', colors[data.state]);
                log_player(data.state);

                for (i = 0; i < data.ai_sunk.length; ++i) {
                    $('#id_aifield_' + data.ai_sunk[i][0] + '_' + data.ai_sunk[i][1]).css('background-color', colors[4]);
                }

                setTimeout(function () {
                    for (var i = 0; i < data.countermoves.length; ++i) {
                        var cm = data.countermoves[i];
                        ai_move(cm);
                    }

                    for (i = 0; i < data.player_sunk.length; ++i) {
                        $('#id_playerfield_' + data.player_sunk[i][0] + '_' + data.player_sunk[i][1]).css('background-color', colors[4]);
                    }

                    if (data.game_over == 'V') {
                        $('#id_game_over').show().html('You win!');
                    }
                    else if (data.game_over == 'D') {
                        $('#id_game_over').show().html('You lose!');
                    }
                    else {
                        buttons_active = true;
                    }
                }, 500);
            }

            $('#board_ai').find('button').click(function() {
                var $this = $(this);

                if(buttons_active && $this.css('background-color') == 'rgb(192, 192, 192)') {
                    buttons_active = false;

                    var indexes = JSON.parse($this.val());

                    $.ajax({
                        dataType: "json",
                        method: "post",
                        url: '/move',
                        data: {
                            'x': indexes[0],
                            'y': indexes[1],
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            move(data, $this);
                        }
                    });
                }
            });
        });
    </script>
{% endblock body_extra %}